name: learn-github-actions
run-name: ${{ github.workflow }}-${{ github.ref }} ${{ github.actor}}
on: [push]
jobs: 
    check-bats-version:
        runs-on: ubuntu-latest
        steps:
            - name: Check out repository code
              uses: actions/checkout@v5

            - uses: actions/setup_node@v4
              with:
                node-version: '20'

            - run: npm install -g bats
            - run: bats -v

            - run: echo "BATS version checked successfully."